<div class="container mt-5">
    <h2 class="card-title mb-4">Cadastrar Especialidade</h2>
    <form action="/especialidadeCreate" method="post">
        <div class="mb-3">
            <label for="nomeEspecialidade" class="form-label">Digite o nome da Especialidade:</label>
            <input type="text" class="form-control" id="nomeEspecialidade" name="nome_especialidade" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
